
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <meta charset="utf-8">
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">

    <!---->

    </script>
    <link href="static/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    PingMe!
    </title>
    <style>
body  {
  background-image: url("https://lh3.googleusercontent.com/proxy/ozCUHZk30_8LV0zWHJiHNxDrQ2Iv84AfrIQ7HNujfgrmP0lh-C_B8a5379NTgK4n8dWkvFfwrkygYry_YeEhsHY4ZSDp0HN7fQZV4eL_T6Q1awhwbA2Pv5kWEW_XBAg");
  background-color: #9678b6;
   background-repeat: no-repeat, repeat;
}
</style>

    </head>
    <body >
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<h1 class="container"> Hey!! </h1>
<h1 class="container"> Login now!</h1>
<p class="container">Enter your username & password to get started!!</p>
<div class="container">
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class="bg-success">
  {% for message in messages %}
  <li>{{ message}} </li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% block body %}
{% endblock %}
</div>
<form action="{{ url_for('login')}}" method="POST">
  <div class="container">

  {{ form.username(class_='form-control', placeholder='Username', autocomplete='off') }}
  <ul>
    {% for error in form.username.errors %}
    <li> {{ error }}</li>
    {% endfor %}
  </ul>

  </div>
  <div class="container" >

    {{ form.password(class_='form-control', placeholder='Password') }}
    <ul>
      {% for error in form.password.errors %}
      <li> {{ error }}</li>
      {% endfor %}
    </ul>

    </div>

      <div class="container">
        {{ form.submit_button }}
  </div>
  {{ form.csrf_token }}
  </form>
  <div class="container">
    <p>Have not registered? <a href={{url_for('index')}}>Register here</a>.</p>
  </div>
  </html>
